@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Grenze+Gotisch:wght@100..900&family=MedievalSharp&family=Metamorphous&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
  --main-color: #4169e1;
  --primary-color: oklch(0.592 0.249 0.584);
  --shadow-color: var(--color-rose-600);
  --shadow-conf: 0rem 0rem 0.25rem var(--shadow-color);
}

@import "tailwindcss";

@theme {
  --font-eagle: "Eagle Lake";
  --font-grenze: "Grenze Gotisch";
  --font-medieval: "MedievalSharp";
  --font-metamorphous: "Metamorphous";
  --font-montagu: "Montagu Slab";
  --font-montserrat: "Montserrat";
  --font-oswald: "Oswald";
  --color-main: var(--main-color);
}

@layer components {
  .shadow-text {
    text-shadow: var(--shadow-conf);
  }

  .sweep {
    position: relative;
    padding: 16px;
    z-index: 0;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-size: 0% calc(1% + 1/3 * 100%);
    background-position: right top;
    background-repeat: no-repeat;
    transition: background-size 500ms 0ms ease-in-out, padding 250ms 0ms ease-in-out, box-shadow 250ms 0ms ease-in-out, font-weight 250ms 0ms ease-in-out, text-transform 250ms 0ms ease-in-out;
  }
  
  .sweep:hover {
    padding-left: 36px;
    background-size: 100% calc(1% + 1/3 * 100%);
    background-position: left top;
    font-weight: 600;
  }
  
  .sweep::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    top: 0rem;
    z-index: -1;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-size: 0% calc(1% + 1/3 * 100%);
    background-position: right center;
    background-repeat: no-repeat;
    transition: background-size 500ms 100ms ease-in-out;
  }
  
  .sweep:hover::before {
    background-size: 100% calc(1% + 1/3 * 100%);
    background-position: left center;
  }
  
  .sweep::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    top: 0rem;
    z-index: -1;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-size: 0% calc(1% + 1/3 * 100%);
    background-position: right bottom;
    background-repeat: no-repeat;
    transition: background-size 500ms 200ms ease-in-out;
  }
  
  .sweep:hover::after {
    background-size: 100% calc(1% + 1/3 * 100%);
    background-position: left bottom;
  }

  .sweep-simple {
    position: relative;
    z-index: 0;
    background-image: linear-gradient(var(--primary-color), var(--primary-color));
    background-size: 0% 100%;
    background-position: right center;
    background-repeat: no-repeat;
    transition: background-size 500ms 0ms ease-in-out, color 250ms 0ms ease-in-out;
  }
  
  .sweep-simple:hover {
    background-size: 100% 100%;
    background-position: left center;
  }

  .hexagon {
    position: absolute;
    width: 48px;
    height: 80px;
    background-color: var(--main-color);
    scale: 1.5 1.5 1.5;
    z-index: 0;
    overflow-y: clip;
  }

  .hexagon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    top: 0rem;
    background-color: inherit;
    transform: skew(-31deg, 59deg);
    z-index: -1;
  }

  .hexagon-calc {
    clip-path: polygon(calc(1/3 * 100%) 0, calc(2/3 * 100%) 0, calc(3/3 * 100%) 50%, calc(2/3 * 100%) 100%, calc(1/3 * 100%) 100%, 0 50%);
  }

  .loading {
    animation: loading-gradient 1000ms infinite linear;
  }
  
  @keyframes loading-gradient {
    0% {
      background-position: -100vw 0px;
    }
  
    50% {
      background-position: 100vw 0px;
    }
  
    100% {
      background-position: -100vw 0px;
    }
  }
}